<div class="wrapper">
  <app-loading-spinner *ngIf="loading"> </app-loading-spinner>
  <div class="info" *ngIf="!loading">
    <div
      class="avatar"
      [ngStyle]="{
        'background-image': 'url(' + user.avatar + ')'
      }"
    ></div>
    <p class="login">{{ user.login }}</p>
    <p class="email">{{ user.email }}</p>
    <p class="phone">{{ user.phone }}</p>
    <button
      class="uk-button uk-button-secondary edit-btn"
      (click)="editProfile()"
    >
      Edit
    </button>
  </div>
  <app-reservations-history></app-reservations-history>
</div>
