<nav class="uk-navbar-container" uk-navbar>
  <span
    class="uk-text-uppercase uk-text-bold uk-margin-large-left uk-flex uk-flex-middle"
  >
    Cinemagic
  </span>
  <div class="uk-navbar-right uk-margin-large-right">
    <ul class="uk-navbar-nav">
      <li><a [routerLink]="['/']">home</a></li>
      <li><a [routerLink]="['/cinema']">cinema</a></li>
      <li><a href="">afisha</a></li>
      <li><a [routerLink]="['/movies']">movies</a></li>

      <!-- Show for unauthorized users -->
      <ng-container *ngIf="!currentUser">
        <li><a [routerLink]="['/login']">login</a></li>
        <li><a [routerLink]="['/signup']">signup</a></li>
      </ng-container>

      <!-- Show for logged in users -->
      <ng-container *ngIf="currentUser">
        <li><a href="">profile</a></li>
        <li><a href="" (click)="onLogout()">logout</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
