<nav class="uk-navbar-container" uk-navbar>
  <span
    class="uk-text-uppercase uk-text-bold uk-margin-large-left uk-flex uk-flex-middle"
  >
    Cinemagic
  </span>
  <div class="uk-navbar-right uk-margin-large-right">
    <ul class="uk-navbar-nav">
      <li><a [routerLink]="['/']">{{'home' | translate}}</a></li>
      <li><a [routerLink]="['/afisha']">{{'afisha' | translate}}</a></li>
      <li><a [routerLink]="['/movies']">{{'movies' | translate}}</a></li>

      <!-- Show for unauthorized users -->
      <ng-container *ngIf="!currentUser">
        <li><a [routerLink]="['/login']">{{'login' | translate}}</a></li>
        <li><a [routerLink]="['/signup']">{{'signup' | translate}}</a></li>
      </ng-container>

      <!-- Show for logged in users -->
      <ng-container *ngIf="currentUser">
        <li><a [routerLink]="'/me'">{{'profile' | translate}}</a></li>
        <li><a (click)="onLogout()">{{'logout' | translate}}</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
