<app-loading-spinner [loading]="loading">
  <div class="reservation-card" *ngFor="let reservation of reservationsForPage">
    <div class="content-box">
      <div
        class="poster"
        [ngStyle]="{
          'background-image': 'url(' + reservation.session.film.poster + ')'
        }"
      ></div>
      <div class="info">
        <h2 class="movie-name">{{ reservation.session.film.name }}</h2>
        <p class="session-date">
          {{ reservation.session.dateTime | date: 'MMMM dd, yyyy HH:MM' }}
        </p>
        <span class="subheader">Seats:</span>
        <span class="seat-number" *ngFor="let seat of reservation.seats">{{
          seat.seatNumber
        }}</span>
        <div>
          <ng-container *ngIf="reservation.services.length !== 0">
            <p class="subheader services">Services</p>
            <p
              class="service"
              *ngFor="let serviceOrder of reservation.services"
            >
              <span class="name">
                {{ serviceOrder.service.name }}
              </span>
              <span class="amount">{{ ' x' + serviceOrder.amount }}</span>
              <span class="price">{{
                serviceOrder.amount * serviceOrder.service.price + ' BYN'
              }}</span>
            </p>
          </ng-container>
        </div>
        <p class="total-price">{{ reservation.price }} BYN</p>
      </div>
    </div>
  </div>
  <app-pagination
    [limitPerPage]="limitPerPage"
    [totalItems]="allReservations.length"
    (pageChanged)="onPageChanged($event)"
  ></app-pagination>
</app-loading-spinner>
