<app-loading-spinner [loading]="loading">
  <app-reservations-filters></app-reservations-filters>

  <div class="no-content" *ngIf="reservations.length === 0">
    <p class="message">You haven't any reservations yet</p>
  </div>

  <div class="reservation-card" *ngFor="let reservation of reservations">
    <div class="content-box">
      <div
        class="poster"
        [ngStyle]="{
          'background-image': 'url(' + reservation.session.film.poster + ')'
        }"
      ></div>

      <div class="info">
        <h3 class="movie-name">{{ reservation.session.film.name }}</h3>
        <p class="session-date">
          {{ reservation.session.dateTime | date: 'MMMM dd, yyyy HH:MM' }}
        </p>
      <span class="subheader">Hall {{reservation.session.hall.number }}, seats:</span>
        <span class="seat-number" *ngFor="let seat of reservation.seats">
          seat {{ seat.seatNumber }}, line {{ seat.line }}
        </span>

        <hr class="uk-divider-small" />

        <div *ngIf="reservation.services.length">
          <p class="subheader services">Services</p>
          <p class="service" *ngFor="let serviceOrder of reservation.services">
            <span class="name">
              {{ serviceOrder.service.name }}
            </span>
            <span class="amount"> x{{ serviceOrder.amount }}</span>
            <span class="price">
              {{ serviceOrder.amount * serviceOrder.service.price }} BYN
            </span>
          </p>
        </div>

        <p class="total-price">{{ reservation.price }} BYN</p>
      </div>
    </div>
  </div>

  <app-pagination
    [limitPerPage]="limitPerPage"
    [totalItems]="reservationsAmount"
    (pageChanged)="onPageChanged($event)"
  >
  </app-pagination>
</app-loading-spinner>
