<app-loading-spinner [loading]="loading">
  <div class="heading" *ngIf="session">
    <h1 class="name">{{ session.film.name }}</h1>

    <p class="date">{{ session.dateTime | date: 'dd MMM' }}</p>
    <p class="time">{{ session.dateTime | date: 'HH:MM' }}</p>
    <p class="cinema">{{ session.hall.cinema.name }}</p>
    <app-timer
      class="timer"
      [timerDuration]="seatBlockingTime"
      [ignoreRestart]="true"
      (timerComplete)="timeIsOver($event)"
    ></app-timer>
  </div>
  <hr class="uk-divider-icon" />
  <router-outlet *ngIf="session"></router-outlet>
</app-loading-spinner>
