<div class="uk-width-1-6 uk-align-center">
  <form [formGroup]="authForm" class="uk-margin-top" (submit)="onSubmit()">
    <h2 class="uk-heading-bullet">{{ title }}</h2>
    <input
      class="uk-input uk-margin-bottom"
      type="text"
      formControlName="email"
      placeholder="email"
      *ngIf="mode === 'signup'"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="email"
      formControlName="login"
      placeholder="login"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="password"
      formControlName="password"
      placeholder="password"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="password"
      formControlName="passwordConfirmation"
      placeholder="Confirm your password"
      *ngIf="mode === 'signup'"
    />
    <button
      class="uk-button uk-button-secondary"
      type="submit"
      [disabled]="authForm.invalid"
    >
      {{ title }}
    </button>
  </form>
</div>
