@import 'variables.scss';

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.page-title {
  width: 100%;
  font-weight: 700;
}

.filters {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.pagination {
  height: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.spinner .spinner {
  margin: 20vh auto;
}
