<div class="container-outer">
  <div class="container">
    <app-loading-spinner *ngIf="loading" class="spinner"></app-loading-spinner>
    <ng-container *ngIf="!loading">
      <h1 class="page-title">Afisha</h1>

      <app-sessions-filters class="filters"></app-sessions-filters>

      <app-sessions-list [sessionsSet]="sessionsSet"></app-sessions-list>

      <app-pagination
        class="pagination"
        [limitPerPage]="limitPerPage"
        [items$]="sessions"
        (itemsSetChanged)="onSessionsSetChanged($event)"
      ></app-pagination>
    </ng-container>
  </div>
</div>
