<form [formGroup]="filtersForm" class="filters" (input)="filter()">
  <input
    formControlName="name"
    class="filter-field uk-input uk-text-meta"
    type="text"
    placeholder="name"
  />
  <input
    formControlName="genre"
    class="filter-field uk-input uk-text-meta"
    type="text"
    placeholder="genre"
  />
  <input
    tabIndex="0"
    formControlName="year"
    class="filter-field uk-input uk-text-meta"
    type="text"
    placeholder="year"
  />
  <app-dropdown
    class="dropdown uk-text-meta"
    [placeholder]="'age rate'"
    [optionsList]="ageRates"
    formControlName="restriction"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <input
    formControlName="language"
    class="filter-field uk-input uk-text-meta"
    type="text"
    placeholder="language"
  />
</form>
