@import 'variables.scss';

.filters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .filter-field {
    height: 32px;
    width: 120px;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid $color-stroke;

    &:focus {
      border-bottom: 2px solid $color-active;
    }
  }

  .dropdown {
    z-index: 102;
    height: 32px;
    width: 120px;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
  }
}
