.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1276px;
}

.session-preview {
  margin-bottom: 32px;
}
