.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1276px;
}

.session-preview {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}
