<div class="service">
  <div
    class="image"
    [ngStyle]="{ 'background-image': 'url(' + service.image + ')' }"
  ></div>

  <div class="info">
    <h3 class="name">{{ service.type.name }}</h3>
    <p class="description">{{ service.type.description }}</p>
    <div class="row">
      <p class="price">{{ service.price }} BYN</p>

      <div class="row group">
        <app-counter [(ngModel)]="amount" class="counter"></app-counter>
        <p class="price">{{ service.price * amount }} BYN</p>
        <button
          class="uk-button uk-button-text add-btn"
          (click)="addService()"
          [disabled]="amount === 0 && buttonState === AddButtonStates.Add"
        >
          {{ buttonState }}
        </button>
      </div>
    </div>
  </div>
</div>
