.slider {
  height: 50vh;
  width: 100%;

  .content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .slides {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      height: 100%;

      .slide {
        height: 100%;
        max-width: inherit;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
