<div class="slider">
  <div class="content" #sliderContent>
    <ul class="slides" #slider>
      <li *ngFor="let slideItem of slidesItems" class="slide">
        <ng-container [ngTemplateOutlet]="slideItem.template"></ng-container>
      </li>
    </ul>
  </div>
  <button
    #sliderPrev
    class="uk-button uk-button-secondary"
    uk-icon="icon: chevron-left"
  ></button>
  <button
    #sliderNext
    class="uk-button uk-button-secondary"
    uk-icon="icon: chevron-right"
  ></button>
</div>
