@import 'variables.scss';

.alert.success {
  background-color: $color-success;
  color: white;
}

.alert.error {
  background-color: $color-danger;
  color: white;
}

.alert {
  height: fit-content;
  border-radius: 5px;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.btn-close {
  background: none;
  border: none;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
