@import 'variables.scss';

.pagination {
  width: 100%;

  .pages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-stroke;

    li {
      margin-right: 0.8rem;
      margin-bottom: 0.2rem;
      font-weight: 600;
    }
  }
}
