<div
  class="container dropdown-container"
  (focus)="focus()"
  (blur)="unfocus()"
  (keydown.arrowdown)="next($event)"
  (keydown.arrowup)="previous($event)"
  (keydown.enter)="select()"
  tabindex="0"
  [ngClass]="{ opened: isOpen }"
  #dropdown
>
  <div class="field  uk-input" [ngClass]="{ opened: isOpen }">
    <ng-container *ngIf="!autocomplete">
      <div class="value" [ngClass]="{ activated: selected }">{{ value | translate }}</div>
      <span class="open-btn" uk-icon="icon: triangle-down"></span>
    </ng-container>

    <ng-container *ngIf="autocomplete">
      <input
        class="value uk-input"
        type="text"
        (focus)="focus()"
        (blur)="unfocus()"
        [(ngModel)]="term"
        [ngClass]="{ activated: selected }"
        [formControl]="control"
        [placeholder]="placeholder"
      />
    </ng-container>
  </div>
  <div class="options" [ngClass]="{ hidden: !isOpen, show: isOpen }" appOptions>
    <ng-container *ngIf="autocomplete">
      <ng-container *ngIf="filteredItems">
        <p
          class="option"
          [ngClass]="{
            selected: isSelected(option),
            hovered: isHovered(option)
          }"
          (click)="select(option)"
          (mouseenter)="hover(option)"
          *ngFor="let option of filteredItems"
        >
          {{ option | translate }}
        </p>
        <p class="option" *ngIf="!filteredItems || !filteredItems.length">
          {{ 'noSuggestions' | translate }}...
        </p>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!autocomplete">
      <p
        class="option"
        [ngClass]="{ selected: isSelected(option), hovered: isHovered(option) }"
        (click)="select(option)"
        (mouseenter)="hover(option)"
        *ngFor="let option of optionsList"
      >
        {{ option | translate }}
      </p>
    </ng-container>
  </div>
</div>
