<div
  class="container"
  (focus)="focus()"
  (blur)="unfocus()"
  (keydown.arrowdown)="next($event)"
  (keydown.arrowup)="previouse($event)"
  (keydown.enter)="select()"
  tabindex="0"
>
  <div class="field" [ngClass]="{ opened: isOpen }">
    <div class="value" [ngClass]="{ activated: selected }">{{ value }}</div>
    <span class="open-btn" uk-icon="icon: triangle-down"></span>
  </div>
  <div class="options" [ngClass]="{ hidden: !isOpen, show: isOpen }">
    <p
      class="option"
      [ngClass]="{ selected: isSelected(option), hovered: isHovered(option) }"
      (click)="select(option)"
      (mouseenter)="hover(option)"
      *ngFor="let option of optionsList"
    >
      {{ option }}
    </p>
  </div>
</div>
