@import 'variables.scss';

.option {
  margin: 0.1rem auto;
  text-align: center;
}
.container {
  width: inherit;
  height: 100%;
  font-size: 0.9rem;
  font-family: inherit;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.field {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $color-stroke;

  .value {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    height: 100%;
  }

  &.opened {
    border-bottom: 2px solid $color-active;
  }
}

.open-btn {
  display: flex;
  align-items: center;
  height: 28px;
}

.value {
  text-align: center;
  width: 100%;
}

.options {
  z-index: 101;
  display: block;
  position: absolute;
  width: inherit;
  background-color: $color-light;
}

.option {
  cursor: pointer;
}

.option:hover,
.option.hovered {
  background: $color-hover;
}

.option.selected {
  background: $color-primary;
  color: $color-light;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
