.slider-item {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.btn-prev,
.btn-next {
  width: 60px;
  position: absolute;
  height: 60px;
  top: calc(60vh / 2);
  cursor: default;
  z-index: 10;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  svg {
    z-index: 11;
    cursor: pointer;
  }
}

.btn-prev {
  left: 40px;
}

.btn-next {
  left: calc(100% - 100px);
}

.slide-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
