<app-slider [animationTiming]="'250ms ease-out'" class="slider">
  <ng-container *ngFor="let item of items">
    <div *appSlide class="slider-item">
      <div class="movie-description">
        <h2>Film Title</h2>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, id odit
          molestiae blanditiis aliquid non ipsa ea, vero totam soluta similique
          maiores vel aut reiciendis illum consequatur quasi dolor! Sit?
        </p>
      </div>

      <img src="{{ item }}" alt="" />
    </div>
  </ng-container>

  <button
    #sliderPrev
    class="btn-prev uk-hidden-hover"
    uk-icon="icon: chevron-left; ratio: 3"
  ></button>
  <button
    #sliderNext
    class="btn-next uk-hidden-hover"
    uk-icon="icon: chevron-right; ratio: 3"
  ></button>
</app-slider>
<app-movie-card></app-movie-card>
