<app-slider [animationTiming]="'250ms ease-out'" class="slider">
  <ng-container *ngFor="let item of items">
    <div *appSlide class="slider-item">
      <app-movie-card
        [title]="item.title"
        [genres]="item.genres"
        [restriction]="item.restriction"
        [poster]="item.poster"
      ></app-movie-card>
    </div>
  </ng-container>

  <button
    #sliderPrev
    class="btn-prev uk-hidden-hover"
    uk-icon="icon: chevron-left; ratio: 3"
  ></button>
  <button
    #sliderNext
    class="btn-next uk-hidden-hover"
    uk-icon="icon: chevron-right; ratio: 3"
  ></button>
</app-slider>
