<h1 class="header">Best movies</h1>
<app-slider [animationTiming]="'250ms ease-out'" class="slider">
  <ng-container *ngFor="let movie of bestMovies">
    <div *appSlide class="slider-item">
      <div class="slide-wrapper single-movie-card" [ngStyle]="slideStyle">
        <a [routerLink]="getMovieInfoLink(movie)"
          ><div
            class="image"
            [ngStyle]="{ 'background-image': 'url(' + movie.poster + ')' }"
          ></div
        ></a>

        <div class="info">
          <h2 class="title">{{ movie.name }}</h2>
          <p class="description">{{ movie.description }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <button
    #sliderPrev
    class="btn-prev uk-hidden-hover"
    uk-icon="icon: chevron-left; ratio: 3"
  ></button>
  <button
    #sliderNext
    class="btn-next uk-hidden-hover"
    uk-icon="icon: chevron-right; ratio: 3"
  ></button>
</app-slider>

<hr class="uk-divider-icon" />

<h1 class="header">See more</h1>
<app-slider
  [animationTiming]="'250ms ease-out'"
  class="slider movie-cards-slider"
>
  <ng-container *ngFor="let movieSlide of movieSlides">
    <div *appSlide class="slider-item">
      <div class="slide-wrapper" [ngStyle]="slideStyle">
        <app-movie-card
          class="movie-card"
          *ngFor="let movie of movieSlide"
          [movie]="movie"
        ></app-movie-card>
      </div>
    </div>
  </ng-container>

  <button
    #sliderPrev
    class="btn-prev-second uk-hidden-hover"
    uk-icon="icon: chevron-left; ratio: 2"
  ></button>
  <button
    #sliderNext
    class="btn-next-second uk-hidden-hover"
    uk-icon="icon: chevron-right; ratio: 2"
  ></button>
</app-slider>
