.slider-item {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-around;

  .movie-description {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
  }
  img {
    height: 400px;
    display: block;
    max-width: none;
  }
}

.btn-prev,
.btn-next {
  width: 60px;
  position: absolute;
  height: fit-content;
  top: calc(50vh / 2 + 80px - 30px);
  cursor: default;
  z-index: 10;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  svg {
    z-index: 11;
    cursor: pointer;
  }
}

.btn-prev {
  left: 60px;
}
.btn-next {
  left: calc(100% - 130px);
}
