<div class="container uk-align-center">
  <form [formGroup]="signupForm" class="uk-margin-top" (submit)="onSubmit()">
    <h2 class="uk-heading-bullet">{{'signUp' | translate}}</h2>
    <input
      class="uk-input uk-margin-bottom"
      type="email"
      formControlName="email"
      placeholder="email"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="text"
      formControlName="login"
      placeholder="login"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="password"
      formControlName="password"
      placeholder="password"
    />
    <input
      class="uk-input uk-margin-bottom"
      type="password"
      formControlName="passwordConfirmation"
      placeholder="Confirm your password"
    />
    <button
      class="uk-button uk-button-secondary button button-secondary"
      type="submit"
      [disabled]="signupForm.invalid"
    >
      {{'register' | translate}}
    </button>
  </form>
</div>
