<app-loading-spinner [loading]="loading">
  <h3>Choose seats</h3>
  <ng-container *ngIf="hall">
    <app-seats-schema
      [schema]="seatsSchema"
      [(ngModel)]="choosedSeats"
    ></app-seats-schema>
  </ng-container>
  <hr />
  <h3>Choosed seats</h3>
  <ul class="choosed-seats">
    <li *ngFor="let choosedSeat of choosedSeats" class="item">
      {{ getBlockedSeatNumber(choosedSeat) + ', line ' + choosedSeat.line }}
      <button uk-icon="icon:close" (click)="removeSeat(choosedSeat)"></button>
    </li>
    <li *ngIf="!choosedSeats.length" class="item">Add some seats</li>
  </ul>
  <div class="row">
    <button
      [routerLink]="'../services-choose'"
      class="uk-button uk-button-secondary next-btn"
      [disabled]="!choosedSeats.length"
    >
      Next
    </button>
  </div>
</app-loading-spinner>
