<app-loading-spinner [loading]="loading">
  <h3 class="">Choose seats</h3>
  <app-seats-schema
    *ngIf="hall"
    [schema]="seatsSchema"
    [(ngModel)]="choosedSeats"
  ></app-seats-schema>
  <hr />
  <h3>Choosed seats</h3>
  <ul class="choosed-seats">
    <li *ngFor="let choosedSeat of choosedSeats" class="item">
      {{ getBlockedSeatNumber(choosedSeat) + ', line ' + choosedSeat.line }}
      <button uk-icon="icon:close" (click)="removeSeat(choosedSeat)"></button>
    </li>
    <li *ngIf="!choosedSeats.length" class="item">Add some seats</li>
  </ul>
</app-loading-spinner>
