<h3>Choose seats</h3>
<ng-container *ngIf="hall">
  <app-seats-schema
    [schema]="seatsSchema"
    [chosenSeats]="chosenSeats"
  ></app-seats-schema>
</ng-container>
<hr />
<h3>Chosen seats</h3>
<ul class="chosen-seats">
  <li *ngFor="let chosenSeat of chosenSeats" class="item">
    {{ getBlockedSeatNumber(chosenSeat) + ', line ' + chosenSeat.line }}
    <button uk-icon="icon:close" (click)="removeSeat(chosenSeat)"></button>
  </li>
  <li *ngIf="!chosenSeats.length" class="item">Add some seats</li>
</ul>
<div class="row">
  <button
    [routerLink]="'../services-choose'"
    class="uk-button uk-button-secondary next-btn"
    [disabled]="!chosenSeats.length"
  >
    Next
  </button>
</div>
