@import './../variables';

.wrapper {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: $color-background;
  color: $color-light;
}

::ng-deep {
  .header, .title, h2, .page-title {
    color: $color-secondary;
  }

  .uk-heading-bullet::before {
    opacity: 0.5;
  }

  .mat-calendar {
    background-color: $color-options-background;
  }

  .mat-calendar-body-cell-content {

    &:hover {
      transition: color 0.1s ease-in;
      color: $color-secondary;
    }
  }

  .mat-form-field-label-wrapper {
    color: $color-light;
  }

  h3, hr {
    color: $color-info;
  }

  .filter-field {
    font-size: 1rem;
    white-space: nowrap;
  }

  .filters {
    .field, input {
      background-color: $color-transparent;
      color: $color-light;
      opacity: 1;

      &:focus, &:active {
        border-bottom-color: $color-light;
        background-color: $color-transparent;
      }
    }
  }

  .button {
    &.button-secondary {
      background-color: transparent;
      border: $color-info 2px solid;
      color: $color-info;

      &:disabled {
        background-color: $color-info;
        color: black;
      }

      &:hover, &:active {
        &:not([disabled]) {
          color: $color-light;
          border: $color-light 2px solid;
        }
      }
    }
  }
}
