<app-header></app-header>
<app-slider [animationTiming]="'250ms ease-out'">
  <ng-container *ngFor="let item of items">
    <div *appSlide class="slider-item">
      <img src="{{ item }}" alt="" />
    </div>
  </ng-container>
  <button
    #sliderPrev
    class="uk-button uk-button-secondary"
    uk-icon="icon: chevron-left"
  ></button>
  <button
    #sliderNext
    class="uk-button uk-button-secondary"
    uk-icon="icon: chevron-right"
  ></button>
</app-slider>
<router-outlet></router-outlet>
