<form
  [formGroup]="filtersForm"
  class="filters uk-form"
  (input)="filter()"
  (keydown.escape)="reset()"
>
  <app-dropdown
    class="dropdown uk-text-meta"
    placeholder="city"
    [optionsList]="sessionsUniqueFields.cities"
    formControlName="city"
    [autocomplete]="true"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <app-dropdown
    class="dropdown uk-text-meta"
    placeholder="cinema"
    [optionsList]="sessionsUniqueFields.cinemaTheatres"
    formControlName="cinema"
    [autocomplete]="true"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <input
    formControlName="name"
    class="filter-field uk-input"
    type="text"
    placeholder="name"
  />
  <input
    formControlName="genre"
    class="filter-field uk-input"
    type="text"
    placeholder="genre"
  />
  <app-dropdown
    class="dropdown uk-text-meta"
    placeholder="language"
    [optionsList]="languages"
    [default]="languages[0]"
    formControlName="language"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <app-dropdown
    class="dropdown uk-text-meta"
    placeholder="age rate"
    [optionsList]="ageRates"
    [default]="ageRates[0]"
    formControlName="restriction"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <input
    formControlName="date"
    class="filter-field date uk-text-meta uk-input"
    type="text"
    placeholder="date"
    [matDatepicker]="date"
  />
  <mat-datepicker-toggle [for]="date"></mat-datepicker-toggle>
  <app-dropdown
    class="dropdown uk-text-meta"
    placeholder="session time"
    [optionsList]="sessionIntervals"
    formControlName="time"
    (ngModelChange)="filter()"
  ></app-dropdown>
</form>
