<form [formGroup]="filtersForm" class="filters" (input)="filter()">
  <input
    formControlName="city"
    class="filter-field uk-input"
    type="text"
    placeholder="city"
  />
  <input
    formControlName="cinema"
    class="filter-field uk-input"
    type="text"
    placeholder="cinema"
  />
  <input
    formControlName="name"
    class="filter-field uk-input"
    type="text"
    placeholder="name"
  />
  <input
    formControlName="genre"
    class="filter-field uk-input"
    type="text"
    placeholder="genre"
  />
  <app-dropdown
    class="dropdown uk-text-meta"
    [placeholder]="'age rate'"
    [optionsList]="ageRates"
    formControlName="restriction"
    (ngModelChange)="filter()"
  ></app-dropdown>
  <input
    formControlName="date"
    class="filter-field date uk-text-meta uk-input"
    type="date"
    placeholder="date"
  />
  <app-dropdown
    class="dropdown uk-text-meta"
    [placeholder]="'session time'"
    [optionsList]="sessionIntervals"
    formControlName="time"
    (ngModelChange)="filter()"
  ></app-dropdown>
</form>
