@import 'variables.scss';

.filters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .filter-field {
    height: 32px;
    width: 100px;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid $color-stroke;

    &.date {
      line-height: 1.4rem;
      font-family: inherit;
      width: 160px;
    }

    &:focus {
      border-bottom: 2px solid $color-active;
    }

    .date {
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      &::-webkit-calendar-picker-reset-button {
        display: none;
      }
    }
  }

  .dropdown {
    z-index: 102;
    height: 32px;
    width: 120px;
    margin-right: 1.6rem;
    margin-bottom: 0.5rem;
  }
}
