@import './../../../../variables';

.movie-card {
  width: inherit;
  min-width: 240px;
}

.movie-card .image {
  width: inherit;
  height: 360px;
  background: center / cover;
  border-radius: 10px;
}

.movie-card .info {
  text-align: center;
}

.movie-card {

  .info {
    .title,
    .genres,
    .restriction {
      margin: 0.6rem auto;
      overflow: hidden;
    }

    .title {
      height: 3rem;
      font-weight: 500;
      font-size: 2rem;

      &:hover {
        overflow: visible;
        height: auto;
      }
    }

    .genres {
      height: 1.5rem;
      font-size: 1.2rem;
      color: $color-light;
    }

    .restriction {
      height: 1.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: $color-light;
    }
  }
}

.movie-card .reserve-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: inherit;
}

@media screen and (max-width: 746px) {
  .movie-card {
    margin-bottom: 1rem;

    .image {
      min-height: 420px;
    }

    .reserve-btn {
      width: inherit;
    }

    .info {
      width: inherit;
      display: flex;
      flex-direction: column;
      text-align: left;

      .title,
      .genres,
      .restriction {
        margin: 0 auto;
        text-align: center;
      }

      .title {
        font-size: 2rem;
        font-weight: 500;
        height: auto;
      }

      .genres,
      .restriction {
        font-size: 1.2rem;
      }

      .restriction {
        height: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
      }
    }
  }
}
