<div class="movie-card">
  <a [routerLink]="movieInfoLink">
    <div
      class="image"
      [ngStyle]="{ 'background-image': 'url(' + movie.poster + ')' }"
    ></div
  ></a>

  <div class="info">
    <h2 class="title uk-text-lead">{{ movie.name }}</h2>
    <p class="genres uk-text-meta uk-text-lowercase">
      {{ movie.genre | movieGenres }}
    </p>
    <p class="restriction uk-text-meta">{{ movie.restriction }}+</p>
  </div>
  <app-reserve-ticket-button
    class="reserve-btn"
    [link]="movie._id"
  ></app-reserve-ticket-button>
</div>
