.movie-card {
  width: 240px;
}
.movie-card .image {
  width: 240px;
  height: 320px;
  background: center / cover;
  border-radius: 10px;
}

.movie-card .info {
  text-align: center;
}

.movie-card {
  .info {
    .title,
    .genres,
    .restriction {
      margin: 0.5rem auto;
      overflow: hidden;
    }

    .title {
      height: 2.5rem;
      font-weight: 500;

      &:hover {
        overflow: visible;
        height: auto;
      }
    }

    .genres {
      height: 1.5rem;
    }

    .restriction {
      height: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

.movie-card .reserve-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 240px;
}
