<div class="wrapper">
  <form action="" [formGroup]="settingsForm" (submit)="saveSettings()">
    <h2 class="uk-heading-bullet">{{'editProfile' | translate}}</h2>
    <div
      class="avatar"
      [ngStyle]="{
        'background-image': 'url(' + avatar + ')'
      }"
    ></div>
    <div class="js-upload" uk-form-custom>
      <input type="file"
             (change)="onAvatarChange($event)"
             #avatarInput>
      <button class="uk-button uk-button-default uk-input user-input" type="button">
        {{'selectAvatar' | translate}}
      </button>
    </div>
    <label class="input-label" for="login">*{{'loginField' | translate}}:</label>
    <input
      class="uk-input user-input"
      type="text"
      formControlName="login"
      id="login"
      placeholder="{{'loginField' | translate}}"
    />

    <label class="input-label" for="email">*{{'email' | translate}}:</label>
    <input
      class="uk-input  user-input"
      type="email"
      formControlName="email"
      id="email"
      placeholder="{{'email' | translate}}"
    />

    <label class="input-label" for="phone">{{'phoneNumber' | translate}}:</label>
    <input
      class="uk-input user-input"
      type="tel"
      formControlName="phone"
      id="phone"
      placeholder="{{'phoneNumber' | translate}}"
    />

    <input
      class="uk-button uk-button-secondary save-btn button button-secondary"
      type="submit"
      value="{{'save' | translate}}"
    />
  </form>
</div>
