.content-box {
  display: flex;
  justify-content: space-between;
}

.poster {
  width: 240px;
  height: 320px;
  background: center / cover;
  border-radius: 10px;
  margin-right: 2rem;
}

.info {
  width: 70vw;

  .name {
    font-weight: 700;
    display: inline-block;
  }

  .restriction {
    font-size: 1.2rem;
    padding-left: 2rem;
  }
}
