@import 'variables.scss';

.session-preview {
  width: 240px;
}
.session-preview .image {
  width: 240px;
  height: 320px;
  background: center / cover;
  border-radius: 10px;
  cursor: pointer;
}

.session-preview .info {
  text-align: center;
}

.session-preview {
  .info {
    .genres,
    .datetime {
      overflow: hidden;
    }

    .title {
      font-weight: 500;
    }

    .restriction {
      font-weight: 500;
    }

    .genres {
      height: 1rem;
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
    }

    .datetime {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1.2rem;
      color: $color-active;
    }

    .cinema {
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;
    }

    .language {
      margin: 0;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: baseline;
      height: 1.5rem;
      margin-bottom: 0.5rem;

      .restriction {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.session-preview .reserve-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 240px;
}
