@import 'variables.scss';

.session-preview {
  width: 240px;
}
.session-preview .image {
  width: 240px;
  height: 320px;
  background: center / cover;
  border-radius: 10px;
  cursor: pointer;
}

.session-preview .info {
  text-align: center;
}

.session-preview {
  .info {
    .genres,
    .datetime {
      overflow: hidden;
    }

    .title {
      font-weight: 500;
      height: 2.5rem;

      &:hover {
        overflow: visible;
      }
    }

    .restriction {
      font-weight: 500;
    }

    .genres {
      height: 1.2rem;
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
    }

    .datetime {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1.2rem;
      color: $color-active;
    }

    .cinema {
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;
    }

    .language {
      margin: 0;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: baseline;
      height: 1.5rem;
      margin-bottom: 0.5rem;

      .restriction {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.session-preview .reserve-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 240px;
}

@media screen and (max-width: 746px) {
  .session-preview {
    margin-bottom: 1rem;
    .image {
      width: 360px;
      height: 420px;
    }

    .reserve-btn {
      width: 360px;
    }

    .info {
      width: 360px;
      display: flex;
      flex-direction: column;
      text-align: left;

      .genres,
      .cinema,
      .language,
      .datetime {
        margin: 0.2rem auto;
        text-align: center;
      }

      .container {
        height: auto;
        justify-content: center;
        align-items: baseline;

        .restriction {
          font-size: 1.4rem;
        }

        .title,
        .restriction {
          margin: 0 0.5rem;
        }
      }

      .title {
        font-size: 2rem;
        font-weight: 500;
        height: auto;
      }

      .genres {
        font-size: 1rem;
      }
    }
  }
}
