@import '../../../variables';

.container {
  max-width: 400px;
}

.uk-input {
  background-color: $color-transparent;
  color: $color-light;

  &:focus {
    outline: none;
    border-color: $color-secondary;
  }
}
