<div class="ticket">
  <h3>Seats</h3>
  <ul class="seats">
    <li *ngFor="let seat of seats" class="seat">
      <div class="details">
        <span>{{'line' | translate}} {{ seat.line }}, {{'seat' | translate}} {{ seat.seatNumber }}</span>
      </div>
      <hr />
    </li>
  </ul>

  <ng-container *ngIf="services.length">
    <h3>{{'services' | translate}}</h3>
    <ul class="services">
      <li *ngFor="let serviceOrder of services" class="service-order">
        <div class="details">
          <span class="name">
            {{ serviceOrder.service.name }}
          </span>
          <span class="amount"> x{{ serviceOrder.amount }} </span>
          <span class="price">
            {{ serviceOrder.service.price * serviceOrder.amount }} BYN
          </span>
        </div>
        <hr />
      </li>
    </ul>
  </ng-container>

  <p class="total-price">{{ totalPrice }} BYN</p>

  <div class="row">
    <button
      [routerLink]="'../services'"
      class="uk-button uk-button-secondary next-btn"
    >
      {{'back' | translate}}
    </button>

    <button class="uk-button uk-button-primary next-btn" (click)="reserve()" [disabled]="reserving">
      {{(reserving ? 'sending' : 'reserve') | translate}}
    </button>
  </div>
</div>
