@import './variables';

button,
input,
select {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
  background-color: transparent;
  width: auto;
}

body, html {
  background-color: $color-background;
  color: $color-light;
}

@import '~@angular/cdk/overlay-prebuilt.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
