$color-danger: #ff6347;
$color-success: #3cb371;
$color-stroke: #bbbbbb;
$color-active: #000000;
$color-chosen: #cfff75;
$color-selected: #fff876;
$color-shadow: rgba(
  $color: #000000,
  $alpha: 0.1
);
$color-primary: #1e87f0;
$color-hover: #e6e6e6;
$color-secondary: #dd1e12;
$color-light: #ffffff;
$color-background: #141414;
$color-dark: #000000;
$color-transparent: transparent;

$max-width: 1276px;
