$color-danger: #ff6347;
$color-success: #3cb371;
$color-stroke: #bbbbbb;
$color-active: #000000;
$color-choosen: rgb(207, 255, 117);
$color-selected: rgb(255, 246, 117);
$color-shadow: rgba(
  $color: #000000,
  $alpha: 0.1
);

$max-width: 1276px;
