@import 'variables.scss';

.seats-schema {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(40px, 80px));

  .line {
    display: flex;
    justify-content: center;

    .seat {
      height: 40px;
      width: 60px;
      border: 2px solid $color-stroke;
      border-radius: 5px;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;

      &:not(.selected):not(.chosen):not(.disabled):hover {
        border-color: $color-active;
        color: $color-active;
        cursor: pointer;
      }
    }

    .vip {
      width: 100px;
    }

    .chosen {
      background-color: $color-chosen !important;
      border-color: $color-chosen !important;
    }

    .disabled {
      background-color: $color-stroke;
      border-color: $color-stroke;
    }
  }
}

.line-numbers {
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-right: 1rem;

  .line-number {
    height: 44px;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.add-btn {
  margin-left: auto;
  display: block;
}

.schema-container {
  display: flex;
  justify-content: center;
}
